body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  width: 90%;
  max-width: 400px;
}

img {
  max-width: 90%;
  margin-top: 20px;
  border-radius: 10px;
}
